.add-event-entry {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    background-color: white;
    padding: 15px;
    border: 1px solid;
    box-shadow: 5px 5px 10px #888888;
}

.closeEntryX {
    text-align: right;
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
}