.current-day {
    background-color: turquoise;
    /* padding: 5px; */
    border-radius: 100px;
    width: 35px;
    text-align: center;
}

.clear {
    clear:both;
}

span.black {
    color: #8c8c8c;
}

hr {
    margin-top: 0.15rem;
    margin-bottom: 0.5rem;
}

.table th, .table td {
    font-size: 12px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 15px;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    min-width: 80px;
}

.table td {
    min-height: 140px;
}

/* Month Popup */
.label-month {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    background-color: turquoise;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.year-display {
    border-radius: 0 10px 10px 0;
    background-color: turquoise;
    text-align: center;
}

.label-month:hover, .year-display:hover {
    background-color: darkturquoise;
}

.month-popup {
    position: absolute;
    background: white;
    border: 1px solid #383c3f;
    width: 390px;
    font-size: 15px;
    z-index: 999;
}

.month-overview {
    width: 100%;
    background-color: turquoise;
}

.month-overview:hover {
    background-color: darkturquoise;
}

.month-overview > a {
    color: #383c3f;
}

.month-display {
    width: 200px;
    float: left;
    height: 30px;
    line-height: 28px;
}

.year-display {
    width: 200px;
    float:left;
    height: 30px;
    line-height: 28px;
    cursor: pointer;
}

.weekdays-td {
    background-color: aliceblue;
}

.calender-body {
    margin-top: 10px;
}

/* Day and Entry */
.day {
    float: left;
}

.add-entry {
    float: right;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 16px;
}

.add-entry:hover {
    background-color: turquoise;
    border-radius: 120px;
}

.col-sm-2 {
    flex: 0 0 14%;
    max-width: 14%;

}

.add-event-entry {
    z-index: 1000;

}


/* Person Colors */
.event {
    margin: 2px 0 2px 0;
    cursor: pointer;
}

.Anna {
    background-color: antiquewhite;
    padding: 0 0 0 5px;
    border-radius: 5px;
}

.Lisa {
    background-color: mediumaquamarine;
    padding: 0 0 0 5px;
    border-radius: 5px;
}

.Marie {
    background-color: coral;
    padding: 0 0 0 5px;
    border-radius: 5px;
}